apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: weave-scope
      annotations:
        cloud.weave.works/launcher-info: |-
          {
            "server-version": "master-3e85166",
            "original-request": {
              "url": "/k8s/v1.7/scope.yaml?k8s-version=Q2xpZW50IFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0KU2VydmVyIFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0K",
              "date": "Thu Sep 14 2017 05:32:19 GMT+0000 (UTC)"
            },
            "email-address": "support@weave.works"
          }
      labels:
        name: weave-scope
  - apiVersion: rbac.authorization.k8s.io/v1beta1
    kind: ClusterRole
    metadata:
      name: weave-scope
      annotations:
        cloud.weave.works/launcher-info: |-
          {
            "server-version": "master-3e85166",
            "original-request": {
              "url": "/k8s/v1.7/scope.yaml?k8s-version=Q2xpZW50IFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0KU2VydmVyIFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0K",
              "date": "Thu Sep 14 2017 05:32:19 GMT+0000 (UTC)"
            },
            "email-address": "support@weave.works"
          }
      labels:
        name: weave-scope
    rules:
      - apiGroups:
          - '*'
        resources:
          - '*'
        verbs:
          - '*'
      - nonResourceURLs:
          - '*'
        verbs:
          - '*'
  - apiVersion: rbac.authorization.k8s.io/v1beta1
    kind: ClusterRoleBinding
    metadata:
      name: weave-scope
      annotations:
        cloud.weave.works/launcher-info: |-
          {
            "server-version": "master-3e85166",
            "original-request": {
              "url": "/k8s/v1.7/scope.yaml?k8s-version=Q2xpZW50IFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0KU2VydmVyIFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0K",
              "date": "Thu Sep 14 2017 05:32:19 GMT+0000 (UTC)"
            },
            "email-address": "support@weave.works"
          }
      labels:
        name: weave-scope
    roleRef:
      kind: ClusterRole
      name: weave-scope
      apiGroup: rbac.authorization.k8s.io
    subjects:
      - kind: ServiceAccount
        name: weave-scope
        namespace: kube-system
  - apiVersion: apps/v1beta1
    kind: Deployment
    metadata:
      name: weave-scope-app
      annotations:
        cloud.weave.works/launcher-info: |-
          {
            "server-version": "master-3e85166",
            "original-request": {
              "url": "/k8s/v1.7/scope.yaml?k8s-version=Q2xpZW50IFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0KU2VydmVyIFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0K",
              "date": "Thu Sep 14 2017 05:32:19 GMT+0000 (UTC)"
            },
            "email-address": "support@weave.works"
          }
      labels:
        name: weave-scope-app
        app: weave-scope
        weave-cloud-component: scope
        weave-scope-component: app
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            name: weave-scope-app
            app: weave-scope
            weave-cloud-component: scope
            weave-scope-component: app
        spec:
          containers:
            - name: app
              args:
                - '--no-probe'
              image: 'weaveworks/scope:1.6.4'
              imagePullPolicy: IfNotPresent
              ports:
                - containerPort: 4040
                  protocol: TCP
  - apiVersion: v1
    kind: Service
    metadata:
      name: weave-scope-app
      annotations:
        cloud.weave.works/launcher-info: |-
          {
            "server-version": "master-3e85166",
            "original-request": {
              "url": "/k8s/v1.7/scope.yaml?k8s-version=Q2xpZW50IFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0KU2VydmVyIFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0K",
              "date": "Thu Sep 14 2017 05:32:19 GMT+0000 (UTC)"
            },
            "email-address": "support@weave.works"
          }
      labels:
        name: weave-scope-app
        app: weave-scope
        weave-cloud-component: scope
        weave-scope-component: app
    spec:
      ports:
        - name: app
          port: 80
          protocol: TCP
          targetPort: 4040
      selector:
        name: weave-scope-app
        app: weave-scope
        weave-cloud-component: scope
        weave-scope-component: app
  - apiVersion: extensions/v1beta1
    kind: DaemonSet
    metadata:
      name: weave-scope-agent
      annotations:
        cloud.weave.works/launcher-info: |-
          {
            "server-version": "master-3e85166",
            "original-request": {
              "url": "/k8s/v1.7/scope.yaml?k8s-version=Q2xpZW50IFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0KU2VydmVyIFZlcnNpb246IHZlcnNpb24uSW5mb3tNYWpvcjoiMSIsIE1pbm9yOiI3KyIsIEdpdFZlcnNpb246InYxLjcuMy0xMStmNzQ3ZGFhMDJjOWZmYiIsIEdpdENvbW1pdDoiZjc0N2RhYTAyYzlmZmJhM2ZhYmM5ZjY3OWI1MDAzYjNmN2ZjYjJjMCIsIEdpdFRyZWVTdGF0ZToiY2xlYW4iLCBCdWlsZERhdGU6IjIwMTctMDgtMjhUMDc6MDQ6NDVaIiwgR29WZXJzaW9uOiJnbzEuOC4zIiwgQ29tcGlsZXI6ImdjIiwgUGxhdGZvcm06ImxpbnV4L2FtZDY0In0K",
              "date": "Thu Sep 14 2017 05:32:19 GMT+0000 (UTC)"
            },
            "email-address": "support@weave.works"
          }
      labels:
        name: weave-scope-agent
        app: weave-scope
        weave-cloud-component: scope
        weave-scope-component: agent
    spec:
      template:
        metadata:
          labels:
            name: weave-scope-agent
            app: weave-scope
            weave-cloud-component: scope
            weave-scope-component: agent
        spec:
          containers:
            - name: agent
              args:
                - '--no-app'
                - '--probe.docker.bridge=docker0'
                - '--probe.docker=true'
                - '--probe.kubernetes=true'
                - >-
                  $(WEAVE_SCOPE_APP_SERVICE_HOST):$(WEAVE_SCOPE_APP_SERVICE_PORT)
              image: 'weaveworks/scope:1.6.4'
              imagePullPolicy: IfNotPresent
              securityContext:
                privileged: true
              volumeMounts:
                - name: docker-socket
                  mountPath: /var/run/docker.sock
                - name: scope-plugins
                  mountPath: /var/run/scope/plugins
                - name: sys-kernel-debug
                  mountPath: /sys/kernel/debug
          hostNetwork: true
          hostPID: true
          serviceAccountName: weave-scope
          tolerations:
            - effect: NoSchedule
              operator: Exists
          volumes:
            - name: docker-socket
              hostPath:
                path: /var/run/docker.sock
            - name: scope-plugins
              hostPath:
                path: /var/run/scope/plugins
            - name: sys-kernel-debug
              hostPath:
                path: /sys/kernel/debug
      updateStrategy:
        type: RollingUpdate
